player-connection-mode=Listen
player-connection-guid=2875590446
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.52.1
player-connection-ip=192.168.131.1
player-connection-ip=10.21.48.118
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
scripting-runtime-version=latest
vr-enabled=0
